[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyknp = "*"
jupyterlab = "*"
ipykernel = "*"
gensim = "*"
janome = "*"
keras = "*"
tensorflow = "*"
pandas = "*"
matplotlib = "*"
falcon = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.6.7"
